.container {
  .nav-avatar-btn {
    $btn-size: 35px;
    display: flex;
    width: $btn-size;
    height: $btn-size;
    background: none;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
