<label for="password">Password</label>
<div [formGroup]="formGroup" class="input-group">
  <i class="fas fa-lock"></i>
  <input
    id="password"
    [formControlName]="'password'"
    placeholder="Password"
    [type]="showPassword ? 'text' : 'password'"
  />
  <button type="button" (click)="togglePasswordVisibility()">
    <i
      style="width: 25px"
      [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
    ></i>
  </button>
</div>
<div class="error" *ngIf="errors.required">Password is required.</div>
<div class="error" *ngIf="errors.maxlength">
  Password can't be longer than
  {{ errors("password").maxlength.requiredLength }} characters.
</div>
