.header {
  margin-bottom: 1rem;
  background: var(--color-beta);
  .burger {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    a {
      color: var(--color-text);
      text-decoration: none;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.75;
      }
    }
    .home {
      font-size: 2rem;
    }
    .nav .nav-list {
      display: flex;
      align-items: center;
      &__item {
        margin-left: 1rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .burger {
      display: block;
      z-index: 110;
    }
    .nav.nav--hide {
      display: none;
    }
    .nav {
      position: absolute;
      background: rgba(black, 0.85);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      .nav-list {
        flex-direction: column;
        font-size: 2rem;
        margin-top: 5rem;
        &__item--options {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 1rem;
  }
}
