.container {
  max-width: 1200px;
  margin: 0 auto;
  .call-to-action {
    font-size: 2.5rem;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}
