@import "../theme/theme";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
:host {
  height: 100%;
  background: var(--color-alpha);
}

ul {
  list-style: none;
}
