@import "../abstracts/variables";

:root {
  --color-alpha: #{$black-russian};
  --color-beta: #{$paua};
  --color-charlie: #{$kingfisher-daisy};
  --color-delta: #{$dark-blue};
  --color-echo: #{$mine-shaft};
  --color-text: #{$white};
}
