<div class="container">
  <button (click)="closeOverlay()" class="close-button">
    <i class="fas fa-times"></i>
  </button>
  <h1>Create A New Room</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="roomDetails">
    <div>
      <label for="name"> Name </label>
      <div class="input-group">
        <i class="fas fa-heading"></i>
        <input formControlName="name" id="name" type="text" class="input" />
      </div>
    </div>
    <div>
      <label for="description"> Description </label>
      <div class="input-group">
        <i class="fas fa-scroll"></i>
        <textarea
          formControlName="description"
          id="description"
          type="text"
          class="input"
        ></textarea>
      </div>
    </div>
    <button class="btn btn--full mt-4">Create Room!</button>
  </form>
</div>
